/* body {
  padding: 0;
  margin: 0;
}

#map2 {
  height: 700px;
}


body,
html {
  height: 100%;
} */

body {
  background-color: lightgray;
}

.nav-link {
  background-color: lightseagreen;
  font-weight: bold;
  color: white;
}



h1 {
  color: rgb(61, 159, 184);
  background-color: white;
  font-family: times new roman;
  font-weight: bold;
}

h2 {
  color: rgb(61, 159, 184);
  background-color: white;
  font-family: times new roman;
  font-weight: bold;
  font-size: x-large;

}

h3 {
  color: rgb(61, 159, 184);
  background-color: white;
  font-family: times new roman;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.nav-link dropdown-toggle {
  font-family: times new roman;
}



.container {
  background-color: white;
}

@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
}

#map2 {
  height: 700px;
}

body,
html {
  height: 100%;
}